{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block back_button %}
<a href="/">{{ _('Home') }}</a>
{% endblock %} 
{% block subheading %} | {{ _('Login / Register') }}{% endblock %}

{% block body %}
<div class="container">
  <div class="row-fluid"> 
    <div class="span6">  
      <h2>{{ _('Login') }}</h2>
      {% call macros.handle_errors(errors=loginerrors) %} {% endcall %}
      <form id="tl-login" action="{{ url_for('login') }}" method="POST">
        <dl>
          <dt>{{ loginform.hidden_tag() }}</dt>
          <dt>{{ loginform.email.label }} {{ loginform.email(type="email") }}</dt>
          <dt>{{ loginform.password.label }} {{ loginform.password() }}</dt>
          <dt>
            <input type="submit" class="btn" value="{{ _('Login') }}">
          </dt>
        </dl>
      </form>
      <!-- Button to trigger modal -->
      <a href="#forgotDialog" data-toggle="modal">{{ _('Forgot password?') }}</a>
      <!-- Modal -->
      <div id="forgotDialog" class="modal hide fade"
        role="dialog" aria-labelledby="forgotLabel"
        aria-hidden="true">
        <form id="forgot-form" action="/forgot" data-remote="true" method="POST">
          <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <button type="button" class="close" data-dismiss="modal"
              aria-hidden="true"></button>
            <h4 id="forgotLabel">{{ _('Enter your email address') }}</h4>
          </div>
          <div class="modal-body">
            {{ forgotform.hidden_tag() }}
            {{ forgotform.email() }}
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="{{ _('Send reset email') }}"/>
          </div>
        </form>
      </div>
      
    </div>
    <div class="span6">  
      <h2>{{ _('Register') }}</h2>
      {% call macros.handle_errors(errors=regerrors) %} {% endcall %}
      <form id="tl-register" action="{{ url_for('login') }}"
        method="POST">
        <dl>
          <dt>{{ regform.hidden_tag() }}</dt>
          <dt>{{ regform.first_name.label }} {{ regform.first_name() }}</dt>
          <dt>{{ regform.last_name.label }} {{ regform.last_name() }}</dt>
          <dt>{{ regform.alias.label }} {{ regform.alias() }} {% call
            macros.handle_description() %} {% endcall %}</dt>
          <dt>{{ regform.email.label }} {{ regform.email(type="email") }}</dt>
          <dt>{{ regform.password.label }} {{ regform.password() }}</dt>
          <dt>{{ regform.confirm.label }} {{ regform.confirm() }}</dt>
          <dt>
            <input type="submit" class="btn" value="{{ _('Register') 
}}">
          </dt>
        </dl>
      </form>
    </div>
  </div>
</div>
{% endblock %}
